body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    height: 100vh;
}

div {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: relative;
}

div::before{
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: relative;
    content: '';
    left: 90px;
}